<!DOCTYPE html>
<html>
  <head>
    <title>CodeQryCuc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5038230556133410"
         crossorigin="anonymous"></script>
    <!-- first_ads -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-5038230556133410"
         data-ad-slot="9564687842"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </body>
</html>
